<%= form_with(model: @post, local: true, url:confirm_posts_path) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :title, class: 'form-control',:placeholder => "タイトル" %>  
    <%= f.text_field :content, class: 'form-control input-lg',:placeholder => "メッセージをシェアしよう"%>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= f.file_field(:image,{:class => 'btn-primary'})  %>
    <%= f.hidden_field :image_cache　%>
    <div class="text-right">
      <%= f.submit("投稿する", class:"btn btn-primary") %>
      <%= link_to '戻る', posts_path, class:"btn btn-warning" %>
    <div>
<% end %>